<nav class="navbar">
  <div class="navbar-left">
    <div class="nav-btn">
      <span>Logotipo</span>
    </div>
  </div>


  <div class="navbar-right" >
    <a  href="/user/cart"  class="cart">
      <ng-icon name="bootstrapCart4"></ng-icon>
    </a>
    <span class="nav-btn" *ngIf="authenticated; else notAuthenticated">{{user?.login}}</span>
    <div class="separator">
      |
      <div class="circle"></div>
    </div>
  </div>
</nav>

<ng-template #notAuthenticated>
  <a class="nav-btn" href="/login">
    {{  'Entrar' }}
  </a>

</ng-template>
