<nav class="navbar">
  <div class="navbar-left">
    <div class="nav-btn">
      <a href="/">Logotipo</a>
    </div>
  </div>


  <div class="navbar-right" >
    <a  href="/user/cart"  class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <span class="nav-btn" *ngIf="authenticated; else notAuthenticated">{{user?.login}}</span>
    <div class="separator">
      |
      <div class="circle"></div>
    </div>
  </div>
</nav>

<ng-template #notAuthenticated>
  <a class="nav-btn" href="/login">
      Entrar
  </a>

</ng-template>
