<app-navbar></app-navbar>


<main>
  <app-banner></app-banner>


  <div class="search">
    <ng-icon name="bootstrapSearch"></ng-icon>

    <input type="text" placeholder="Pesquisar o produto">
    <button>
      x
    </button>
  </div>


  <div class="product-list">
    <div class="product-item" *ngFor="let product of products">
      <img src="../../../assets/img/product-img.png" alt="Produto 1">
      <span>R$ {{ (product.price).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</span>
      <p>{{product.description}}</p>
      <a href='/product/{{ product.id }}'>{{ product.name }}</a>

    </div>

  </div>
</main>
