<app-navbar></app-navbar>


<main>
  <app-banner></app-banner>


  <div class="search">
    <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>

    <input type="text" placeholder="Pesquisar o produto"  [(ngModel)]="searchTerm">
    <button (click)="clearSearch()">
      x
    </button>
  </div>


  <div class="product-list" *ngIf="filterProducts().length > 0; else noProducts">
    <div class="product-item" *ngFor="let product of filterProducts()">
      <img src="../../../assets/img/product-img.png" alt="Produto 1">
      <span>R$ {{ (product.price).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}</span>
      <p>{{product.description}}</p>
      <a href='/product/{{ product.id }}'>{{ product.name }}</a>

    </div>

  </div>
</main>


<ng-template #noProducts>
  <div class="no-products-message">
    Não há produtos disponíveis.
  </div>
</ng-template>
