

<div class="body">
  <form>

    <header>
      <img src="../../../assets/img/logo.png" alt="logo" />
    </header>
    <div>
      <div class="form-input">
        <input type="text"  placeholder="login">
        <input type="password" placeholder="senha">
      </div>

      <div class="form-forgot-password">
        <a href="#">Esqueceu a senha?</a>
      </div>


      <div class="form-buttons">
        <button class="button"  type="submit">Entrar</button>
        <button class="button" href="/register">Criar minha conta</button>
      </div>
    </div>
  </form>
</div>

