main {
  padding: 30px 130px;
}

main > .cart {
  display: flex;
  padding: 30px;
}

.main-cart {
  border: 1px solid #dedede;
  padding: 30px;
  flex: 1;
}



main .main-product-count {
  display: flex;
  font-size: 16px;
  align-items: center;
  text-align: center;
  gap: 10px;
  justify-content: left;
  margin-bottom: 5px;
}

main .main-product-count > span {
  text-align: center;
  font-size: 16px;
  margin-top: 3px;
}

main .main-product-count > button {
  padding: 5px 10px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border: 0;
  text-align: center;
  background-color: #e5e5e5;

  font-size:14px;
}

.product-container {
  display: flex;
  width: 100%;
}

.main-cart-products {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-direction: column;
}

.name-product {
  font-size: 25px;
  overflow: hidden;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.information-product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.information-product-price  > button {
  background-color: transparent;
  border: 0;
  transition:all 0.5;
}
.information-product-price  > button:hover > svg,
.information-product-price  > button:hover > p  {
  color: red;
}
.product {
  display: flex;
  border: 1px solid #dedede;
  padding-top: 10px;
  width: 100%;
}

.product > img {
  width: 30%;
}
.product > .information-product {
  flex: 1;
  align-items: start;
  text-align: start;
}

.main-result {
  border: 1px solid #dedede;
  padding: 30px;
  width: 40%;
}

.finish-button {
  padding: 8px 2px;
  font-weight: bold;
  color: #898586;
  cursor: pointer;
  border: 0;
  text-align: center;
  background-color: #bdbabb;
  transition: 0.4s;
  width: 100%;
}

.finish-button:hover {
  opacity: 0.9;
  background-color: #9a9899;
  color: #e5e5e5;
}

small {
  font-weight: bold;
  color: #bdbdbd;
  margin-top: 16px;
}

.price {
  overflow: hidden;
}

h2 {
  overflow: hidden;
}
.finish-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media screen and (max-width: 1100px) {
  main {
    padding: 10px 20px;
  }

  main > .cart {
    flex-direction: column-reverse;
    padding: 20px;
    order: 2;
  }
  .main-cart {
    padding: 20px;
  }
  .main-result {
    width: 100%;
  }
  .main-product-count {
    justify-content: center;
    margin-bottom: 10px;
  }

  .main-product-count > button {
    font-size: 14px;
  }

  .information-product-price {
    padding: 20px;
  }

  .product {
    align-items: center;
    text-align: center;
  }

  .product-container {
    align-items: center;
  }
}

