<div class="body">
  <form (submit)="register()">

    <header>
      <app-logotipo  />
    </header>
    <div>
      <div class="form-input">
        <input type="text" placeholder="login" name="login" [(ngModel)]="login" (click)="onInputClick()">
        <input type="password" placeholder="senha" name="senha" [(ngModel)]="password" (click)="onInputClick()">
        <input type="password" placeholder="confirmar senha" name="confirmar_senha" [(ngModel)]="confirmPassword" (click)="onInputClick()">
      </div>
      <div *ngIf="showMessage">
        <p>{{ message }}</p>
      </div>
      <div class="form-buttons">
        <button class="button" type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
