<div class="body">
  <form>

    <header>
      <img src="../../../assets/img/logo.png" alt="logo" />
    </header>
    <div>
      <div class="form-input">
        <input type="text" placeholder="login" name="login">
        <input type="password" placeholder="senha" name="senha">
        <input type="password" placeholder="confirmar senha" name="confirmar_senha">
      </div>

      <div class="form-buttons">
        <button class="button" type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</div>

